In [1]:
# import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer, make_column_transformer
from sklearn.pipeline import Pipeline

C:\Users\Harbiodun\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
# load the dataset
dataset = pd.read_csv(r"C:\Users\Harbiodun\Documents\Data Science and AI\OIBSIP\documents\Car price\car data.csv")
dataset.head()

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [3]:
# split the data into features(x) and target(y)
X = dataset.drop(columns='Selling_Price', axis =0)
y = dataset['Selling_Price']

In [4]:
X

,Car_Name,Year,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...
296,city,2016,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.90,5464,Petrol,Dealer,Manual,0

In [5]:
X.dtypes

Car_Name          object
Year               int64
Present_Price    float64
Driven_kms         int64
Fuel_Type         object
Selling_type      object
Transmission      object
Owner              int64
dtype: object

In [6]:
# encode the categorical columns using LabelEncoder
encoder = LabelEncoder()

In [7]:
categorical_columns = ['Car_Name','Fuel_Type', 'Selling_type', 'Transmission']

In [8]:
# convert to numerical columns
def to_numerical(data, categorical_columns, encoder):
    for columns in categorical_columns:
        data[columns] = encoder.fit_transform(data[columns])
    return data

In [9]:
# X = to_numerical(X, categorical_columns, encoder)
# X

In [10]:
X.dtypes

Car_Name          object
Year               int64
Present_Price    float64
Driven_kms         int64
Fuel_Type         object
Selling_type      object
Transmission      object
Owner              int64
dtype: object

In [11]:
# change the data type from int32 to int64
def change_dtype(data, categorical_columns):
    for columns in categorical_columns:
        data[columns] = data[columns].astype('int64')
    return data

In [12]:
# X = change_dtype(X, categorical_columns)
# X

In [13]:
X.dtypes

Car_Name          object
Year               int64
Present_Price    float64
Driven_kms         int64
Fuel_Type         object
Selling_type      object
Transmission      object
Owner              int64
dtype: object

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [15]:
X_train

,Car_Name,Year,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
146,Hero Extreme,2014,0.787,15000,Petrol,Individual,Manual,0
260,city,2016,13.600,29223,Petrol,Dealer,Manual,0
37,800,2003,2.280,127000,Petrol,Individual,Manual,0
273,jazz,2010,7.500,61203,Petrol,Dealer,Manual,0
164,Hero Splender iSmart,2016,0.540,14000,Petrol,Individual,Manual,0
...,...,...,...,...,...,...,...,...
251,city,2013,9.900,56701,Petrol,Dealer,Manual,0
192,Hero Hunk,2007,0.750,49000,Petrol,Individual,Manual,1
117,Royal Enfield Thunder 500,2015,1.900,14000,Petrol,Individual,Manual,0
47,wagon r,2006,4.150,65000,Petrol,Dealer,Manual,0
172,Bajaj Pulsar 135 LS,2014,0.640,13700,Petrol,Individual,Manual,0

In [16]:
# initialising the model
# model = RandomForestRegressor(n_estimators=40, random_state=0)

In [17]:
# model.fit(X=X_train, y=y_train)

In [18]:
# prediction = model.predict(X_test)

In [19]:
# r2_score = r2_score(y_true=y_test, y_pred=prediction)
# r2_score

Thing to be in the pipeline
to_numerical
change_dtype
model

In [20]:
Pipeline([('encoder', to_numerical(X, categorical_columns, encoder)), ('change dtype', change_dtype(X, categorical_columns)), 
          ('RandomForest', RandomForestRegressor(n_estimators=40, random_state=0))], verbose=1)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().